In [1]:
import pandas as pd

In [2]:
data_lists = []

num = 10
folder = f'comparison_{num}'


file_paths = [f'{folder}/word_education_{num}.txt', f'{folder}/word_entertainment_{num}.txt', f'{folder}/word_foodndrink_{num}.txt' , f'{folder}/word_politics_{num}.txt' , f'{folder}/word_sports_{num}.txt', f'{folder}/word_technology_{num}.txt']


for file_path in file_paths :
    word_list = []

    with open(file_path, 'r') as file:
        for line in file:
            word_list.append(line.strip())
    
    data_lists.append(word_list)


for i, data in enumerate(data_lists):
    print(f"Data from file {i + 1}")
    print(data)

Data from file 1
['school', 'student', 'university', 'education', 'teacher', 'learning', 'curriculum', 'online', 'international', 'kid']
Data from file 2
['game', 'movie', 'music', 'tiktok', 'video', 'gaming', 'festival', 'artist', 'comedy', 'culture']
Data from file 3
['food', 'restaurant', 'drink', 'satay', 'review', 'cooking', 'teh', 'eat', 'kedah', 'tarik']
Data from file 4
['government', 'politics', 'politician', 'parliament', 'election', 'state', 'country', 'people', 'governance', 'minister']
Data from file 5
['badminton', 'hiking', 'sport', 'cycling', 'jogging', 'team', 'demi', 'footballtweet', 'game', 'player']
Data from file 6
['digital', 'technology', 'cybersecurity', '5g', 'software', 'tech', 'security', 'cyber', 'minister', 'innovation']

In [3]:
data_lists

[['school',
  'student',
  'university',
  'education',
  'teacher',
  'learning',
  'curriculum',
  'online',
  'international',
  'kid'],
 ['game',
  'movie',
  'music',
  'tiktok',
  'video',
  'gaming',
  'festival',
  'artist',
  'comedy',
  'culture'],
 ['food',
  'restaurant',
  'drink',
  'satay',
  'review',
  'cooking',
  'teh',
  'eat',
  'kedah',
  'tarik'],
 ['government',
  'politics',
  'politician',
  'parliament',
  'election',
  'state',
  'country',
  'people',
  'governance',
  'minister'],
 ['badminton',
  'hiking',
  'sport',
  'cycling',
  'jogging',
  'team',
  'demi',
  'footballtweet',
  'game',
  'player'],
 ['digital',
  'technology',
  'cybersecurity',
  '5g',
  'software',
  'tech',
  'security',
  'cyber',
  'minister',
  'innovation']]

In [4]:
all_data = [item for sublist in data_lists for item in sublist]

print(all_data)

['school', 'student', 'university', 'education', 'teacher', 'learning', 'curriculum', 'online', 'international', 'kid', 'game', 'movie', 'music', 'tiktok', 'video', 'gaming', 'festival', 'artist', 'comedy', 'culture', 'food', 'restaurant', 'drink', 'satay', 'review', 'cooking', 'teh', 'eat', 'kedah', 'tarik', 'government', 'politics', 'politician', 'parliament', 'election', 'state', 'country', 'people', 'governance', 'minister', 'badminton', 'hiking', 'sport', 'cycling', 'jogging', 'team', 'demi', 'footballtweet', 'game', 'player', 'digital', 'technology', 'cybersecurity', '5g', 'software', 'tech', 'security', 'cyber', 'minister', 'innovation']

In [5]:
len(all_data)

60

In [6]:
df = pd.read_csv('../data/train/text_dataset_labeled.csv')
df

,text,location,interest
0,attempt hari tu act like smart deep tech entre...,Unknown,Technology
1,mosti cradle ni clueless whats going tech tal...,Unknown,Technology
2,hightech export country 942b hong kong 431b g...,Unknown,Technology
3,tbh many tech talent dont actually need focus...,Unknown,Technology
4,make 180000 tech consultant london grew extrem...,Unknown,Technology
...,...,...,...
27592,smartwatch one better sport ea garmin amazfit ...,Terengganu,Sports
27593,abearfromsea heaven football maracana,Terengganu,Sports
27594,king pele former youth sport minister khairykj...,Terengganu,Sports
27595,love football,Terengganu,Sports
27596,kb football clinic although internet connectio...,Terengganu,Sports

In [7]:
# pattern = '|'.join(all_data)

# filtered_df = df[df['text'].str.contains(pattern, case=False, na=False)]

pattern = r'\b(?:' + '|'.join(all_data) + r')\b'
filtered_df = df[df['text'].str.contains(pattern, case=False, na=False, regex=True)]

In [8]:
filtered_df

,text,location,interest
0,attempt hari tu act like smart deep tech entre...,Unknown,Technology
1,mosti cradle ni clueless whats going tech tal...,Unknown,Technology
2,hightech export country 942b hong kong 431b g...,Unknown,Technology
3,tbh many tech talent dont actually need focus...,Unknown,Technology
4,make 180000 tech consultant london grew extrem...,Unknown,Technology
...,...,...,...
27589,sport,Terengganu,Sports
27590,nobody want teman jogging,Terengganu,Sports
27591,footballtweet potter 1st,Terengganu,Sports
27592,smartwatch one better sport ea garmin amazfit ...,Terengganu,Sports
27594,king pele former youth sport minister khairykj...,Terengganu,Sports

In [9]:
word = 'need'

if word in all_data:
    print(f"The word '{word}' is IN the all_data list.")
else:
    print(f"The word '{word} ' is NOT in the all_data list.")

The word 'need ' is NOT in the all_data list.

In [10]:
df_filter = filtered_df.to_csv(f'../data/train/text_dataset_{num}.csv', index=False)