In [1]:
import pandas as pd

In [27]:
# dpol = pd.read_csv('data/Data-politics.csv')
# dedu = pd.read_csv('data/Data-education.csv')
# dfoo = pd.read_csv('data/Data-food&drinks.csv')
# dspo = pd.read_csv('data/Data-sports.csv')
# dtec = pd.read_csv('data/Data-technology.csv')
# dent = pd.read_csv('data/Data-entertainment.csv')
df = pd.read_csv('../data/text_dataset.csv')

In [28]:
c

,text,location,interest
0,attempt hari tu act like smart deep tech entre...,NaN,Technology
1,mosti cradle ni clueless whats going malaysia ...,NaN,Technology
2,hightech export country china 942b hong kong 4...,NaN,Technology
3,tbh malaysia many tech talent dont actually ne...,NaN,Technology
4,make 180000 tech consultant london grew extrem...,NaN,Technology
...,...,...,...
27593,smartwatch one better sport ea garmin amazfit ...,Terengganu,Sports
27594,abearfromsea heaven football maracana,Terengganu,Sports
27595,king pele former youth sport minister khairykj...,Terengganu,Sports
27596,love football,Terengganu,Sports
27597,kb football clinic although internet connectio...,Terengganu,Sports

In [29]:
states = [
    "Johor", "Kedah", "Kelantan", "Melaka", "Negeri Sembilan", "Pahang",
    "Perak", "Perlis", "Pulau Pinang", "Sabah", "Sarawak", "Selangor", "Terengganu",
    "Kuala Lumpur", "Labuan", "Putrajaya"
]

In [33]:
# Function to find state names in text and set in location column
def find_state(text):
    if isinstance(text, str):  # Check if text is a string
        for state in states:
            if state.lower() in text.lower():
                return state
    return "Unknown"  # Replace 'Other' if no state name is found in the text

In [34]:
# dpol['location'] = dpol['text'].apply(find_state)
# dedu['location'] = dedu['text'].apply(find_state)
# dspo['location'] = dspo['text'].apply(find_state)
# dfoo['location'] = dfoo['text'].apply(find_state)
# dtec['location'] = dtec['text'].apply(find_state)
# dent['location'] = dent['text'].apply(find_state)
# Apply the function to the 'location' column
df['location'] = df.apply(lambda row: find_state(row['text']) if pd.isna(row['location']) else row['location'], axis=1)

In [35]:
df['location'].unique()

array(['Unknown', 'Sarawak', 'Kuala Lumpur', 'Negeri Sembilan',
       'Selangor', 'Sabah', 'Putrajaya', 'Kedah', 'Perlis', 'Pahang',
       'Melaka', 'Terengganu', 'Johor', 'Perak', 'Kelantan',
       'Pulau Pinang', 'Labuan'], dtype=object)

In [24]:
unique_locations = df['location'].unique()
unique_locations = [location for location in unique_locations if location != '']

In [25]:
unique_locations

['Sarawak',
 'Kuala Lumpur',
 'Negeri Sembilan',
 'Selangor',
 'Sabah',
 'Putrajaya',
 'Kedah',
 'Perlis',
 'Pahang',
 'Melaka',
 'Terengganu',
 'Johor',
 'Perak',
 'Kelantan',
 'Pulau Pinang',
 'Labuan']

In [26]:
print(df.location.unique().tolist())

['', 'Sarawak', 'Kuala Lumpur', 'Negeri Sembilan', 'Selangor', 'Sabah', 'Putrajaya', 'Kedah', 'Perlis', 'Pahang', 'Melaka', 'Terengganu', 'Johor', 'Perak', 'Kelantan', 'Pulau Pinang', 'Labuan']

In [47]:
# dpol.to_csv('data/state/Data-politics-state.csv')
# dedu.to_csv('data/state/Data-education-state.csv')
# dspo.to_csv('data/state/Data-sports-state.csv')
# dfoo.to_csv('data/state/Data-food-state.csv')
# dtec.to_csv('data/state/Data-tech-state.csv')
# dent.to_csv('data/state/Data-entertainment-state.csv')

In [36]:
df.isna().sum()

text        1
location    0
interest    0
dtype: int64

In [37]:
df

,text,location,interest
0,attempt hari tu act like smart deep tech entre...,Unknown,Technology
1,mosti cradle ni clueless whats going malaysia ...,Unknown,Technology
2,hightech export country china 942b hong kong 4...,Unknown,Technology
3,tbh malaysia many tech talent dont actually ne...,Unknown,Technology
4,make 180000 tech consultant london grew extrem...,Unknown,Technology
...,...,...,...
27593,smartwatch one better sport ea garmin amazfit ...,Terengganu,Sports
27594,abearfromsea heaven football maracana,Terengganu,Sports
27595,king pele former youth sport minister khairykj...,Terengganu,Sports
27596,love football,Terengganu,Sports
27597,kb football clinic although internet connectio...,Terengganu,Sports

In [38]:
location_counts = df['location'].value_counts()
print(location_counts)

Unknown            12028
Kuala Lumpur        1552
Selangor            1217
Kedah               1216
Pahang              1193
Sabah               1148
Pulau Pinang        1117
Perak               1073
Johor               1061
Sarawak              994
Negeri Sembilan      978
Melaka               898
Perlis               881
Putrajaya            770
Kelantan             570
Terengganu           540
Labuan               362
Name: location, dtype: int64

In [39]:
df

,text,location,interest
0,attempt hari tu act like smart deep tech entre...,Unknown,Technology
1,mosti cradle ni clueless whats going malaysia ...,Unknown,Technology
2,hightech export country china 942b hong kong 4...,Unknown,Technology
3,tbh malaysia many tech talent dont actually ne...,Unknown,Technology
4,make 180000 tech consultant london grew extrem...,Unknown,Technology
...,...,...,...
27593,smartwatch one better sport ea garmin amazfit ...,Terengganu,Sports
27594,abearfromsea heaven football maracana,Terengganu,Sports
27595,king pele former youth sport minister khairykj...,Terengganu,Sports
27596,love football,Terengganu,Sports
27597,kb football clinic although internet connectio...,Terengganu,Sports

In [43]:
df = df.reset_index(drop=True)
df.to_csv('../data/text_dataset_labeled.csv')

In [64]:
words_to_remove = ['Malaysia', 'singapore', 'china', 'india','amp']
pattern = '|'.join(words_to_remove)
pattern

'Malaysia|singapore|china|india|amp'

In [62]:
df['text'] = df['text'].str.replace(pattern,'', case=False,regex=True)
# df_text_no_malaysia = df['text'].strip()

In [58]:
# Create a DataFrame with the original text and the lemmatized text
comparison_df = pd.concat([df['text'], df_text_no_malaysia], axis=1)
comparison_df.columns = ['df', 'df_text_no_malaysia']

In [59]:
pd.set_option('display.max_colwidth', None)
comparison_df

,df,df_text_no_malaysia
0,attempt hari tu act like smart deep tech entrepreneur follow brilliant folk convince bunch really important senior guy perspective deep tech startup scene malaysia think startup tshirt manage fool,attempt hari tu act like smart deep tech entrepreneur follow brilliant folk convince bunch really important senior guy perspective deep tech startup scene think startup tshirt manage fool
1,mosti cradle ni clueless whats going malaysia tech talent ke came mystartup dev idea whats happening grassroot level engage end sign actually run managed expat want expat local talent,mosti cradle ni clueless whats going tech talent ke came mystartup dev idea whats happening grassroot level engage end sign actually run managed expat want expat local talent
2,hightech export country china 942b hong kong 431b germany 209b usa 169b south korea 164b singapore 160b japan 116b malaysia 108b vietnam 101b netherlands 101b france 97b mexico 75b uk 66b belgium 52b,hightech export country 942b hong kong 431b germany 209b usa 169b south korea 164b 160b japan 116b 108b vietnam 101b netherlands 101b france 97b mexico 75b uk 66b belgium 52b
3,tbh malaysia many tech talent dont actually need focus creating even tech talent need though following match right talent right company pay right wage prevent tech talent exodus upskill match right skill,tbh many tech talent dont actually need focus creating even tech talent need though following match right talent right company pay right wage prevent tech talent exodus upskill match right skill
4,make 180000 tech consultant london grew extremely poor somali went university malaysia 800 graduated work call centre 2015 move uk family 30000 salary make 180000 year,make 180000 tech consultant london grew extremely poor somali went university 800 graduated work call centre 2015 move uk family 30000 salary make 180000 year
...,...,...
27593,smartwatch one better sport ea garmin amazfit amp coros pace,smartwatch one better sport ea garmin amazfit amp coros pace
27594,abearfromsea heaven football maracana,abearfromsea heaven football maracana
27595,king pele former youth sport minister khairykj visit malaysia 2015 pict faizpapaiesz12,king pele former youth sport minister khairykj visit 2015 pict faizpapaiesz12
27596,love football,love football
27597,kb football clinic although internet connection fast expected part malaysia im happy back everyone talk casually smile ive missed friendly smile much,kb football clinic although internet connection fast expected part im happy back everyone talk casually smile ive missed friendly smile much

In [63]:
df.to_csv('../data/text_dataset_labeled.csv')