In [3]:
import pandas as pd

In [31]:
dpol = pd.read_csv('data/state/Data-politics-state.csv', encoding='unicode_escape')
dedu = pd.read_csv('data/state/Data-education-state.csv', encoding='unicode_escape')
dfoo = pd.read_csv('data/state/Data-food-state.csv', encoding='unicode_escape')
dspo = pd.read_csv('data/state/Data-sports-state.csv', encoding='unicode_escape')
dtec = pd.read_csv('data/state/Data-tech-state.csv', encoding='unicode_escape')
dent = pd.read_csv('data/state/Data-entertainment-state.csv',encoding='unicode_escape')

In [32]:
dtec

                                                   text location    interest
0     So, there was an attempt hari tu to act like I...      NaN  technology
1     MOSTI and Cradle ni are clueless about whatâ...      NaN  technology
2     High-Tech exports by country:  ð¨ð³ China:...      NaN  technology
3     High-tech exports by country:  ð¨ð³ China:...      NaN  technology
4     Tbh, Malaysia have many tech talents and we do...      NaN  technology
...                                                 ...      ...         ...
4762                           Cybersecurity fellas???!   Perlis  technology
4763  @malaysiakini @handsome2288 Not practical in t...   Perlis  technology
4764  This course teaches how to use the technology ...   Perlis  technology
4765                            @Digital_Muscle Yep bro   Perlis  technology
4766  Art vs artist #artvsartist2022  Started digita...   Perlis  technology

[4767 rows x 3 columns]