In [2]:
import re
import pandas as pd
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from langdetect import detect  # Import the language detection module
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\Izzham
[nltk_data]     Burhan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Izzham
[nltk_data]     Burhan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
# Sample text
text = "This is a sample text with punctuation, numbers, and stopwords like the and in it!"

In [4]:
# Lowercasing
text = text.lower()

In [5]:
text

'this is a sample text with punctuation, numbers, and stopwords like the and in it!'

In [6]:
# Removing punctuation
text = text.translate(str.maketrans('', '', string.punctuation))
text

'this is a sample text with punctuation numbers and stopwords like the and in it'

In [7]:
# Tokenization
tokens = word_tokenize(text)
tokens

['this',
 'is',
 'a',
 'sample',
 'text',
 'with',
 'punctuation',
 'numbers',
 'and',
 'stopwords',
 'like',
 'the',
 'and',
 'in',
 'it']

In [8]:
# Removing stopwords
stop_words = set(stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [9]:
filtered_tokens = [word for word in tokens if word not in stop_words]
filtered_tokens

['sample', 'text', 'punctuation', 'numbers', 'stopwords', 'like']

In [10]:
# Printing cleaned text
cleaned_text = ' '.join(filtered_tokens)
print(cleaned_text)

sample text punctuation numbers stopwords like

In [11]:
# Load the CSV file into a pandas DataFrame
df_edu = pd.read_csv('../data/state/Data-education-state.csv',encoding='unicode_escape')

In [12]:
df_edu

,text,location,interest
0,Going to a technology conference in Kuala Lumpur,Kuala Lumpur,Technology
1,Watching a football match in Johor Bahru,Johor,Sports
2,Trying a famous local food in Penang,NaN,Food
3,Attending a music concert in Kuala Lumpur,Kuala Lumpur,Entertainment
4,Following the latest political news in KL,NaN,Politics
...,...,...,...
5064,Who remembers the old school Nintendo Game Boy...,Kuala Lumpur,Education
5065,"Hey there, rockstar medics! ?? Just wanted to ...",Kuala Lumpur,Education
5066,"In primary school, that DAMN monkey from dasav...",Kuala Lumpur,Education
5067,Year 7s were today introduced to what their P...,Kuala Lumpur,Education
5068,my day job is school and my hobby when i get h...,Kuala Lumpur,Education

In [13]:
text = df_edu['text'][755]
text

'Kena Reject Oleh University Di Malaysia Namun Diterima Harvard Dan UCLA. Ini Kisahnyaâ\x80¦ ð\x9f\x91©ð\x9f\x8f»â\x80\x8dð\x9f\x8e\x93ð\x9f\x91©ð\x9f\x8f»â\x80\x8dð\x9f\x8e\x93  Baca artikel penuh disini &gt &gt  https://t.co/7zsnEYnWXC https://t.co/5qtodZjzES'

In [14]:
# Use langdetect to detect the language of the text
try:
    language = detect(text)
except:
    language = "unknown"  # Handle cases where language detection fails

In [15]:
language

'id'

In [16]:
if language == "en" :
    print('english : ' + text)
else :
    print('non-english : ' + text)

non-english : Kena Reject Oleh University Di Malaysia Namun Diterima Harvard Dan UCLA. Ini Kisahnyaâ¦ ð©ð»âðð©ð»âð  Baca artikel penuh disini &gt &gt  https://t.co/7zsnEYnWXC https://t.co/5qtodZjzES

In [28]:
df = pd.read_csv('../data/interest-location.csv')

In [29]:
len(df)

28840

In [30]:
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

                                                    text  location    interest
3      hightech exports country china 942b hong kong ...       NaN  Technology
18     hightech exports country china 942b hong kong ...       NaN  Technology
163    communication tech service exports service exp...       NaN  Technology
166    communication tech service exports service exp...       NaN  Technology
226    bernamadotcom drsheikhmuszaph support thos typ...       NaN  Technology
...                                                  ...       ...         ...
28509           im jogging track pustaka kuching sarawak   Sarawak      Sports
28522          im stapok badminton court kuching sarawak   Sarawak      Sports
28549  im sentosa sports centre badminton court kuchi...   Sarawak      Sports
28568           im jogging track pustaka kuching sarawak   Sarawak      Sports
28596                                          badminton  Selangor      Sports

[1242 rows x 3 columns]

In [31]:
df_no_duplicates = df.drop_duplicates()

# Print or display the DataFrame without duplicates
print("DataFrame without duplicates:")
print(df_no_duplicates)

DataFrame without duplicates:
                                                    text    location  \
0      attempt hari tu act like smart deep tech entre...         NaN
1      mosti cradle ni clueless whats going malaysias...         NaN
2      hightech exports country china 942b hong kong ...         NaN
4      tbh malaysia many tech talents dont actually n...         NaN
5      make 180000 tech consultant london grew extrem...         NaN
...                                                  ...         ...
28835  smartwatch one better sport ea garmin amazfit ...  Terengganu
28836              abearfromsea heaven football maracana  Terengganu
28837  king pele former youth sport minister khairykj...  Terengganu
28838                                      love football  Terengganu
28839  kb football clinic although internet connectio...  Terengganu

         interest
0      Technology
1      Technology
2      Technology
4      Technology
5      Technology
...           ...
28835      Sports
28836      Sports
28837      Sports
28838      Sports
28839      Sports

[27598 rows x 3 columns]

In [33]:
len(df_no_duplicates)

27598

In [35]:
# Save the cleaned dataset to a new CSV file
df_no_duplicates.to_csv('../data/cleaned_dataset.csv', index=False)